# Archivos de sistema
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
#.env

# Archivos de compilación
pycache/
*.py[cod]

# Archivos de configuración
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de bases de datos
*.sqlite3